/*Zacaria MOrabet Boufarza 1ºASIRB*/
.container {
    display: flex;
    margin-top: 50px;
}

h3.title {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
    border-bottom: var(--main-color) solid 2px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}



h2 {
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 10px;

}

.part1 {
    font-size: large;
    font-weight: bold;
    color: var(--main-color);
    margin: 20px 15px;
    text-align: justify;
}

.part2,
ul {
    font-size: large;
    color: var(--main-color);
    margin: 10px 15px;
    text-align: justify;
}



.formulario {
    display: flex;
    width: 80%;
    margin: 30px;


}


.form-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group1 {
    margin-bottom: 15px;
    resize: none;
    width: 100%;

    overflow: auto;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--main-color);

    font-size: 14px;
    margin-top: 30px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.boton {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.btn {

    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 25px;
    text-decoration: none;
    justify-self: flex-end;
    align-self: flex-start;

}

input#condiciones {
    width: min-content;
    margin: 0;
}

.condiciones-check {
    font-size: 12px;

}

.condiciones-check>a {
    color: blue;
    text-decoration: underline;
}

form {
    width: 100%;
}

textarea {
    resize: none;
    height: 100px;
}

.social-media h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}

.social-media {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.logo2 {
    width: 100px;
    height: auto;
    position: relative;
    z-index: 1;
}

.social-icons {
    display: flex;
    width: 250px;
    height: 150px;
    transform: translateX(-50%);

    justify-content: center;
    align-items: end;
    align-self: center;
}

.icon {
    width: 40px;
    height: 40px;
    position: absolute;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}


.icon:nth-child(1) {
    top: 100px;
    left: 10px;
}

.icon:nth-child(2) {
    top: 40px;
    left: 40px;
}

.icon:nth-child(3) {
    top: 10px;
    left: 100px;
}

.icon:nth-child(4) {
    top: 40px;
    left: 160px;
}

.icon:nth-child(5) {
    top: 100px;
    left: 190px;
}

@media screen and (max-width: 1100px) {
    .container {
        display: inline-flex;
        flex-direction: column;
    }

    .formulario {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 1400) {
    .btn {
        font-size: 10px;
    }

}
/*Zacaria MOrabet Boufarza 1ºASIRB*/