/*Zacaria Morabet Boufarza 1ºASIRB*/
:root{
    --main-color: rgb(40,40,40);
    --secondary-color:white ;
    --third-color:rgb(210,100,5);
    --fourth-color:rgb(146, 142, 142) ;
    /*debug no es usado activamente en el documento ya que es una herramienta que use en el desarrollo*/
    --debug:solid 3px rgb(250,0,234);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
/*Zacaria Morabet Boufarza 1ºASIRB*/